python-dotenv==0.19.0
pandas
pytz
networkx==2.6.3
git+https://github.com/SpringboardOpenEnergy/energydesk-clients.git
git+https://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@github.com/SpringboardOpenEnergy/django-utils.git
git+https://github.com/SpringboardEnergySystems/energydesk-python-sdk.git