git+https://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@github.com/SpringboardOpenEnergy/django-utils.git
git+https://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@github.com/SpringboardOpenEnergy/django-customers.git
git+https://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@github.com/SpringboardOpenEnergy/django-currencies.git
git+https://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@github.com/SpringboardOpenEnergy/django-scheduler.git
git+https://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@github.com/SpringboardOpenEnergy/django-markets.git
git+https://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@github.com/SpringboardOpenEnergy/django-markets-events.git
git+https://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@github.com/SpringboardOpenEnergy/django-assets.git
git+https://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@github.com/SpringboardOpenEnergy/django-location.git
git+https://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@github.com/SpringboardOpenEnergy/django-deviceadapters.git
git+https://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@github.com/SpringboardOpenEnergy/django-assetdata.git
git+https://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@github.com/SpringboardOpenEnergy/django-msgmanager.git
git+https://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@github.com/SpringboardOpenEnergy/django-portfoliomanager.git
git+https://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@github.com/SpringboardOpenEnergy/django-mqtt-gateway.git
git+https://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@github.com/SpringboardOpenEnergy/django-admin.git
git+https://github.com/SpringboardEnergySystems/energydesk-python-sdk.git
lxml
singleton_decorator==1.0.0
singleton_decorator
django-js-lib-ag-grid-community
pyowm==3.2.0
networkx==2.6.3
pydot==1.4.2
django-apscheduler==0.6.0
django-money
python-dotenv==0.19.0
pandas==1.5.0
pytz==2022.2.1
networkx==2.6.3
rauth==0.7.3
jsonfield==3.1.0
pendulum==2.1.2

